<div id="presentacion">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices elementum blandit. Aliquam ultrices tempus
		tincidunt. Aenean luctus pulvinar purus, ut luctus massa. Nullam cursus, sem vel vehicula pretium, nulla augue
		efficitur nulla, in egestas sem nibh eu augue. Sed vitae sapien eu lorem pretium eleifend vel ullamcorper ex. 
		Donec imperdiet ex ut nisl laoreet, consectetur vulputate sapien semper. Duis sed ipsum et leo vulputate gravida
		id sed augue. Vestibulum eget elementum mi. Integer sagittis tincidunt fermentum. Mauris ultrices tellus vel euismod
		consectetur.
	</p>
</article>

